<div>Car Selection</div>

<button
  *ngFor="let make of (state$ | async).availableMakes"
  class="btn"
  [ngClass]="{ 'btn-primary': make === form.value.make, 'btn-default': make !== form.value.make }"
  (click)="onSelectMake(make)">{{ make }}</button>

<div *ngIf="(state$ | async).availableModels">
  <button
    *ngFor="let model of (state$ | async).availableModels"
    class="btn"
    [ngClass]="{ 'btn-primary': model === form.value.model, 'btn-default': model !== form.value.model }"
    (click)="onSelectModel(model)">{{ model }}</button>
</div>

<form [formGroup]="form">

  <div formGroupName="options">
    <label *ngFor="let option of availableOptions">
      <input
        type="checkbox"
        value="true"
        [formControlName]="option"
      >
      {{ option }}
    </label>

    <div>
      <button
        class="btn btn-primary"
        (click)="save()">
        Save
      </button>
    </div>
  </div>

  <div>{{ form.value | json }}</div>
</form>

<div *ngIf="loading$ | async">Loading, please wait...</div>

<div *ngFor="let car of (cars$ | async)">
  {{ car.make }} {{ car.model }}
</div>
