<div>Car Selection</div>

<button
  *ngFor="let make of (state$ | async).availableMakes"
  class="btn"
  [ngClass]="{ 'btn-primary': make === (state$ | async).make, 'btn-default': make !== (state$ | async).make }"
  (click)="onSelectMake(make)">{{ make }}</button>

<div *ngIf="(state$ | async).availableModels">
  <button
    *ngFor="let model of (state$ | async).availableModels"
    class="btn"
    [ngClass]="{ 'btn-primary': model === (state$ | async).model, 'btn-default': model !== (state$ | async).model }"
    (click)="onSelectModel(model)">{{ model }}</button>
</div>

<div *ngIf="(state$ | async).availableOptions.length > 0">
  <label *ngFor="let option of (state$ | async).availableOptions">
    <input
      type="checkbox"
      value="true"
      [(ngModel)]="selectedOptions[option]"
    >
    {{ option }}
  </label>

  <div>{{ selectedOptions | json }}</div>

  <div>
    <button
      class="btn btn-primary">
      Save
    </button>
  </div>
</div>
