<h4>my-ngrx-form</h4>

<ng-container *ngIf="{
  formState: formState$ | async,
  dynamicUi: dynamicUi$ | async,
  dynamicForm: dynamicForm$ | async
} as state">
  <form [ngrxFormState]="state.formState" class="form">
    <div>
      <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control"
          [ngrxFormControlState]="state.formState.controls.email">
      </div>

      <div class="form-group">
        <label>Username</label>
        <input type="text" class="form-control"
          [ngrxFormControlState]="state.formState.controls.username">
      </div>

      <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control"
          [ngrxFormControlState]="state.formState.controls.password">
      </div>
    </div>

    <div class="form-group">
      <label>How did you hear about us?</label>
      <select class="form-control"
          [ngrxFormControlState]="state.formState.controls.howDidYouHear">
        <option value=""></option>
        <option *ngFor="let choice of choices" value="{{ choice }}">{{ choice }}</option>
      </select>
    </div>

    <div class="radio" *ngFor="let gender of genders">
      <label>
        <input type="radio" [value]="gender"
          [ngrxFormControlState]="state.formState.controls.gender">
        {{ gender }}
      </label>
    </div>

    <hr>
    <h4>Dynamic:</h4>
    <hr>
    <div *ngFor="let ui of state.dynamicUi; let idx1 = index">
      <label *ngIf="ui.dynamicType === 'checkbox'">
        <input type="checkbox"
          [ngrxFormControlState]="state.dynamicForm.controls.dynamic.controls[idx1].controls.entered">
        {{ ui.label }}
      </label>
      <label *ngIf="ui.dynamicType === 'text'">
        {{ ui.label }}
        <input type="text"
          [ngrxFormControlState]="state.dynamicForm.controls.dynamic.controls[idx1].controls.entered">
      </label>
      <div *ngIf="ui.dynamicType === 'checktext'">
        <div>{{ ui.label }}</div>
        <div *ngFor="let option of ui.options; let idx2 = index">
          <label>
            <input type="checkbox"
              [ngrxFormControlState]="state.dynamicForm.controls.dynamic.controls[idx1].controls.options.controls[idx2].controls.check">
            {{ option.optionValue }}
          </label>
          <div>
            <textarea class="form-control"
              [ngrxFormControlState]="state.dynamicForm.controls.dynamic.controls[idx1].controls.options.controls[idx2].controls.text">
            </textarea>
          </div>
        </div>
      </div>
    </div>
  </form>
</ng-container>
