<h4>validation-reactive-form</h4>

<form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="form">
  <div formGroupName="userData">
    <div class="form-group" [ngClass]="{ 'was-validated': isUserFieldState('email', 'valid') }">
      <label>Email</label>
      <input type="text" class="form-control" formControlName="email"
        [ngClass]="{ 'is-invalid': isUserFieldState('email', 'invalid') }">
      <div class="invalid-feedback">Email is not valid.</div>
    </div>

    <div class="form-group" [ngClass]="{ 'was-validated': isUserFieldState('username', 'valid') }">
      <label>Username <span class="text-danger">*</span></label>
      <input type="text" class="form-control" formControlName="username"
        [ngClass]="{ 'is-invalid': isUserFieldState('username', 'invalid') }">
      <div [hidden]="!hasUserError('username', 'required')"
        class="text-danger">Username is required.</div>
      <div [hidden]="!hasUserError('username', 'minlength')"
        class="text-danger">Username must be at least 3 characters.</div>
      <div [hidden]="!hasUserError('username', 'pattern')"
        class="text-danger">Please use only letters and numbers.</div>
    </div>
    <div>
      <button class="btn btn-primary btn-sm"
        (click)="suggestUsername()">
        Suggest
      </button>
    </div>

    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control" formControlName="password">
    </div>
  </div>

  <div class="form-group">
    <label>How did you hear about us?</label>
    <select class="form-control" formControlName="howDidYouHear">
      <option value=""></option>
      <option *ngFor="let choice of choices">{{ choice }}</option>
    </select>
  </div>

  <div class="form-group">
    <label>How many times a week will you use this site?</label>
    <input type="number" class="form-control" formControlName="frequency"
      [ngClass]="{ 'is-invalid': isFieldState('frequency', 'invalid') }">
    <div [hidden]="!hasError('frequency', 'min') && !hasError('frequency', 'max')"
      class="text-danger">Value must be between 0 and 7.</div>
  </div>

  <div class="radio" *ngFor="let gdr of genders">
    <label>
      <input type="radio" formControlName="gender" [value]="gdr">
      {{ gdr }}
    </label>
  </div>

  <div formArrayName="otherItems">
    Other items:
    <button type="button" class="btn btn-primary btn-sm" (click)="onAddItem()">Add Item</button>
    <div *ngFor="let ctrl of myForm.get('otherItems').controls; let i = index" style="margin-top: 8px">
      <input type="text" [formControlName]="i">
    </div>
  </div>

  <div class="form-group" style="margin-top: 8px">
    <button type="submit" class="btn btn-primary btn-sm" [disabled]="myForm.invalid">Submit Form</button>
    <button type="button" class="btn btn-danger btn-sm" style="margin-left: 8px"
      (click)="onReset()">Clear Form</button>
  </div>

  <div>Submitted form:</div>
  <pre>{{ submittedForm }}</pre>
</form>
