<h4>loading state</h4>

<div>Items:</div>

<ng-container [ngSwitch]="items.type">
  <div *ngSwitchCase="LoadingStates.Pending">Pending</div>
  <div *ngSwitchCase="LoadingStates.Loading">Loading...</div>
  <ul *ngSwitchCase="LoadingStates.Success">
    <li *ngFor="let item of items.value">{{item}}</li>
  </ul>
</ng-container>

<div>
  <button class="btn btn-primary btn-sm mr-2" (click)="startLoad()">Start</button>
  <button class="btn btn-primary btn-sm mr-2" (click)="completeLoad()">Complete</button>
  <button class="btn btn-secondary btn-sm" (click)="restart()">Reset</button>
</div>