<div class="budget-container">
  <div class="title">Budget</div>
  <div class="row">
    <div class="col-md-4">
      <form [formGroup]="budgetForm">
        <div>
          Select a car class:
        </div>
        <select formControlName="carClass" class="form-control">
          <option value="">-- Choose --</option>
          <option *ngFor="let carClass of carClasses" [ngValue]="carClass.id">{{ carClass.label }}</option>
        </select>

        <div>
          Select a car type:
        </div>
        <select formControlName="carType" class="form-control">
          <option value="">-- Choose --</option>
          <option *ngFor="let carType of carTypes" [ngValue]="carType.id">{{ carType.label }}</option>
        </select>
      </form>
    </div>
  </div>
</div>